@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;600;700&family=Ojuju:wght@200..800&family=Roboto:wght@300&display=swap');

body {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;

}

.box-color {
    background-color: #00263A
}

.generateBtn:hover{
    background-color: green;
    transition: all;
    transition-duration: 309ms;
    cursor: pointer;
}