@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #E6FBED;
}

.navbar {
    background-color: #00263A;
    padding: 10px;
    font-size: 18px;
    
}

.active-link {
    text-decoration: underline;
    color:#26D07C;
}